.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: var(--elements-color);
  height: 80px;
  padding: 0px 70px;
  box-shadow: var(--border-shadow);
  cursor: pointer;
}

.main-page {
  margin: 25px 70px;
}
