<div>
  <div class="search-field">
    <app-country-search (onInputChange)="onChangeInput($event)"></app-country-search>
    <app-country-filter-by-region (onSelectChange)="onChangeSelect($event)"></app-country-filter-by-region>
  </div>
  <div class="container-cards"
       *ngIf="countries.length!==0; else showThis"
  >
    <mat-card
      class="country-card"
      *ngFor="let country of countries"
      [routerLink]="['/countries', country.name ]"
    >
      <img mat-card-image src="{{ country.flag_png}}" alt="Flag Image">
      <mat-card-header class="card-header">
        <mat-card-title><b>{{ country.name }}</b></mat-card-title>
      </mat-card-header>
      <mat-card-content class="card-content">
        <p>
          <b>Population: </b>
          {{ country.population | number }}
        </p>
        <p>
          <b>Region: </b>
          {{ country.region }}
        </p>
        <p>
          <b>Capital: </b>
          {{ country.capital }}
        </p>
      </mat-card-content>
    </mat-card>
  </div>
  <ng-template #showThis>No Countries</ng-template>
</div>
